<h1>Listing iris</h1>

<table>
  <thead>
    <tr>
      <th>Hybridizer</th>
      <th>Region</th>
      <th>Name</th>
      <th>Year</th>
      <th>Seedling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iris.each do |iri| %>
      <tr>
        <td><%= iri.hybridizer %></td>
        <td><%= iri.region %></td>
        <td><%= iri.name %></td>
        <td><%= iri.year %></td>
        <td><%= iri.seedling %></td>
        <td><%= link_to 'Show', iri %></td>
        <td><%= link_to 'Edit', edit_iri_path(iri) %></td>
        <td><%= link_to 'Destroy', iri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iri', new_iri_path %>
