<p id="notice"><%= notice %></p>

<p>
  <strong>Hybridizer:</strong>
  <%= @iri.hybridizer %>
</p>

<p>
  <strong>Region:</strong>
  <%= @iri.region %>
</p>

<p>
  <strong>Name:</strong>
  <%= @iri.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @iri.year %>
</p>

<p>
  <strong>Seedling:</strong>
  <%= @iri.seedling %>
</p>

<%= link_to 'Edit', edit_iri_path(@iri) %> |
<%= link_to 'Back', iris_path %>
