<h1>Listing irises</h1>


    <!-- Post Row -->
<div id="blog">

  <h3 class="text alert alert-success">Initial selection of Irises that are part of the 2014/2015 Oregon Garden Tours
  </h3>

  <div class="row post_row">
    <% if @irisplants.empty? %>
      <h4 class="well">That hybridizer does not have any Irises in the database yet.</h3>
    <% else %>
      <% @irisplants.each do |irisplant| %>
        <div class="span8 well">
          <div class="text">
            <h2><%= irisplant.name %></h2>
            <p>Region: <%= irisplant.region %>
            Year: <%= irisplant.year %>
            <!-- <p><%= irisplant.image_url %></p> -->
            Type: <%= irisplant.iristype %></p>
              
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


